body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
}

h1 {
  color: green;
  font-style: italic;
}

input {
  margin-left: 0.5rem;
}

.country-list-item {
  margin-bottom: 4px;
}

button {
  margin-left: 0.5rem;
}